<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta charset="UTF-8" content="text/html"/>
    <meta th:name="${_csrf.getHeaderName()}" th:content="${_csrf.token}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!--CUSTOM CSS-->
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/css/style.css}"
          href="../../resources/css/style.css">
    <!--ANGULAR MANIFEST-->
    <script type="text/javascript"
            th:src="@{/resources/dist/manifest.js}"
            src="../../resources/dist/manifest.js"></script>
    <!--ANGULAR VENDOR-->
    <script type="text/javascript"
            th:src="@{/resources/dist/vendor.js}"
            src="../../resources/dist/vendor.js"></script>
    <!--ANGULAR_MAIN-->
    <script type="text/javascript"
            th:src="@{/resources/dist/bundle.js}"
            src="../../resources/dist/bundle.js"></script>
</head>
<body>
    <div ng-app="app">
        <div id="companyRegistrationForm" class="page" ng-controller="UserRegistrationCtrl as uc">
            <form>
                <h2>Учетные данные</h2>
                <div class="form-group">
                    <label for="email">Адресс e-mail</label>
                    <input type="text" class="form-control" id="email"
                           name="email" ng-model="uc.user.email"/>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="text" class="form-control" id="password"
                           name="password" ng-model="uc.user.password"/>
                </div>
                <div class="form-group">
                    <label for="passwordConfirmation">Подтверждение пароля</label>
                    <input type="text" class="form-control" id="passwordConfirmation"
                           name="passwordConfirmation" ng-model="uc.user.passwordConfirmation"/>
                </div>
                <h2>Контактная информация</h2>
                <div class="form-group">
                    <label for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName"
                           name="lastName" ng-model="uc.user.lastName"/>
                </div>
                <div class="form-group">
                    <label for="firstName">Имя</label>
                    <input type="text" class="form-control" id="firstName"
                           name="firstName" ng-model="uc.user.firstName"/>
                </div>
                <div class="form-group">
                    <label for="fatherName">Отчество</label>
                    <input type="text" class="form-control" id="fatherName"
                           name="fatherName" ng-model="uc.user.fatherName"/>
                </div>
                <div class="form-group">
                    <label for="workPhone">Рабочий телефон</label>
                    <input type="text" class="form-control" id="workPhone"
                           name="workPhone" ng-model="uc.user.workPhone"/>
                </div>
                <div class="form-group">
                    <label for="mobilePhone">Мобильный телефон</label>
                    <input type="text" class="form-control" id="mobilePhone"
                           name="mobilePhone" ng-model="uc.user.mobilePhone"/>
                </div>
                <div class="form-group">
                    <label for="skype">Skype</label>
                    <input type="text" class="form-control" id="skype"
                           name="skype" ng-model="uc.user.skype"/>
                </div>
                <input type="button" class="btn" value="Зарегистрировать" ng-click="uc.register()"/>
            </form>
        </div>
    </div>
</body>
</html>